<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Buns On Broadway</title>

    <link rel="icon" href="https://i.ibb.co/0Q2CPcQ/favicon.png" type="image/x-icon" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

    <link rel="stylesheet" href="../styles/navbar.css" type="text/css" />
    <link rel="stylesheet" href="../styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="../styles/checkout.css" type="text/css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script type="text/javascript" src="/vendor/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="/scripts/helpers.js"></script>
    <script type="text/javascript" src="/scripts/checkout.js"></script>

  </head>

  <body>

    <%- include("./partials/_navbar") %>
    <%- include("./partials/_restaurantCover") %>

    <div class="checkout-message">
      <div class="order-placed-text">
        <h3>Your order has been placed!</h3>
        <h4>Thank you for choosing Buns on Broadway, <%- orders[0].user_name %>.</h4>
        <p>You have been sent a confirmation text at <%- orders[0].phone_number %>.</p>
      <p>Your order will be ready in <%-orderTime %> minutes. You will receive a confirmation text when your order is ready.</p>
      </div>
      <div class="order-summary">
        <h4>Order Summary:</h4>
      <div class="order-items">
        <ul>
          <li class="order-summary-item"><span>Item</span><span>Qty.</span><span>Cost per Each.</span><span>Cost Total</span></li>
          <% for(let item in orders) { %>
            <li class="order-summary-item"><span><%- orders[item].name %></span> <span><%- orders[item].quantity %></span><span>$<%- orders[item].price %>.00</span><span><%= orders[item].quantity * orders[item].price %></span></li>
          <% } %>
        </ul>
      </div>
        <p>Total Price: $
          <% total = 0; %>
          <% for (item in orders) { %>
            <% total += (orders[item].quantity * orders[item].price) %>
          <% } %>
          <%= total; %>.00
        </p>
      </div>
    </div>

  </body>

  <footer>
    <p class= "coypright">&copy; 2020, Buns On Broadway</p>
  </footer>

</html>
